.root {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  background-color: var(--mantine-color-gray-0);

  border-radius: 12px;
  overflow: hidden;

  min-width: 150px;
  min-height: 30px;

  border: 1px solid;

  @mixin hover {
    background-color: var(--mantine-color-gray-1);
  }
}
